<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bibidi.mapper.CommentMapper">
	
	<resultMap type="com.bibidi.domain.CommentVO" id="commentMap">
		<id property="number" column="comment_number"/>
		<result property="number" column="comment_number" />
		<result property="postNumber" column="post_nubmer" />
		<result property="parentNumber" column="comment_parent_number" />
		<result property="content" column="comment_content" />
		<result property="writer" column="user_nickname" />
		<result property="dateCommented" column="date_commented" />
		<result property="dateModified" column="date_comment_modified" />
		<result property="isDeleted" column="comment_is_deleted" />
	</resultMap>
	
	<insert id="insertComment">
		<selectKey keyProperty="number" order="BEFORE" resultType="Long">
			SELECT seq_comment.nextval FROM dual
		</selectKey>
	
		INSERT INTO comments
			(comment_number, post_number, comment_parent_number, comment_content, comment_writer)
		VALUES
			(#{number}, #{postNumber}, #{number}, #{content},
			(SELECT user_number FROM users WHERE user_nickname = #{writer}))
	</insert>
	
	<insert id="insertReplyComment">
		INSERT INTO comments
			(comment_number, post_number, comment_parent_number, comment_content, comment_writer)
		VALUES
			(seq_comment.nextval, #{postNumber}, #{parentNumber}, #{content},
			(SELECT user_number FROM users WHERE user_nickname = #{writer}))
	</insert>
	
	<select id="readCommentsByPostNumber" resultMap="commentMap">
		<![CDATA[
		SELECT comment_number, post_number, comment_parent_number, comment_content, user_nickname, date_commented, date_comment_modified, comment_is_deleted
		FROM
			(SELECT comment_number, post_number, comment_parent_number, comment_content, user_nickname, date_commented, date_comment_modified, comment_is_deleted 
			FROM
				(SELECT ROWNUM rn, comment_number, post_number, comment_parent_number, comment_content, user_nickname, date_commented, date_comment_modified, comment_is_deleted
				FROM 
					(SELECT comment_number, post_number, comment_parent_number, comment_content, user_nickname, date_commented, date_comment_modified, comment_is_deleted
					FROM comments
					INNER JOIN users ON comment_writer = user_number
					WHERE post_number = #{postNumber}
					ORDER BY comment_parent_number DESC, comment_number DESC
					)
				WHERE ROWNUM <= #{to}
				)
			WHERE rn >= #{from}
			)
		ORDER BY comment_parent_number ASC, comment_number ASC
		]]>
	</select>
	
	<select id="readCommentsCountByPostNumber" resultType="int">
		SELECT count(*)FROM comments
		WHERE post_number = #{postNumber}
	</select>
	
	<select id="readCommentsCountByParentCommentNumber" resultType="int">
		SELECT count(*) FROM comments
		WHERE comment_parent_number = #{parentCommentNumber}
	</select>
	
	<update id="updateComment">
		UPDATE comments SET
			comment_content = #{content},
			date_comment_modified = sysdate
		WHERE comment_number = ${number}
	</update>
	
	<update id="updateCommentIsDeletedByCommentNumber">
		UPDATE comments SET
			comment_is_deleted = '1'
		WHERE comment_number = #{commentNumber}
	</update>
	
	<delete id="deleteCommentByCommentNumber">
		DELETE FROM comments
		WHERE comment_number = #{commentNumber}
	</delete>
</mapper>