<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bibidi.mapper.UserMapper">

	<resultMap type="com.bibidi.domain.UserVO" id="userMap">
		<id property="number" column="user_number"/>
		<result property="number" column="user_number"/>
		<result property="id" column="user_id"/>
		<result property="password" column="user_password"/>
		<result property="userEmail" column="user_email"/>
		<result property="nickname" column="user_nickname"/>
		<result property="picture" column="user_picture"/>
		<result property="activityScore" column="user_activity_score"/>
		<result property="dateRegistered" column="date_user_created"/>
		<result property="dateModified" column="date_user_modified"/>
		<result property="enabled" column="user_enabled"/>
		<collection property="roles" resultMap="roleMap"/>
	</resultMap>
	
	<resultMap type="com.bibidi.domain.RoleVO" id="roleMap">
		<id property="number" column="role_number"/>
		<result property="number" column="role_number"/>
		<result property="name" column="role_name"/>
	</resultMap>
	
	<insert id="insertUser">
		INSERT INTO users
			(user_number, user_id, user_password, user_email, user_nickname, user_activity_score)
		VALUES
			(seq_user.nextval, #{id}, #{password}, #{userEmail}, #{nickname}, #{activityScore})
		
	</insert>
	
	<select id="readUserByUserId" resultMap="userMap">
		SELECT
			users.*, roles.*
		FROM users
			LEFT OUTER JOIN users_roles ON users.user_number = users_roles.user_number
			LEFT OUTER JOIN roles ON users_roles.role_number = roles.role_number
		WHERE user_id = #{userId}
	</select>
	
	<update id="increaseUserActivityScoreByUserNickname">
		UPDATE users
		SET user_activity_score = user_activity_score + #{points}
		WHERE user_nickname = #{userNickname}
	</update>

	<update id="decreaseUserActivityScoreByUserNickname">
		UPDATE users
		SET user_activity_score = user_activity_score - #{points}
		WHERE user_nickname = #{userNickname}
	</update>
	
	<delete id="deleteUserByUserId">
		DELETE FROM users
		WHERE user_id = #{userId}
	</delete>
</mapper>